* {
  box-sizing: border-box;
}

/* .shadow1 {
  transition: box-shadow 0.1s ease-in-out;
}

.shadow1:hover {
  box-shadow: rgb(38, 57, 77) 2px 8px 20px -6px;
}

.shadow1:active {
  box-shadow: none;
} */
/* .inner-shadow1:hover {
  box-shadow:0 0 1px 1px #102447;
}

input.inner-shadow1:focus {
  box-shadow:0 0 1px 1px #102447;
} */