@import "react-datepicker/dist/react-datepicker";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer components {
  .multicolortext0 {
    background: rgb(51, 237, 255);
    background: linear-gradient(
      45deg,
      rgba(51, 237, 255, 1) 0%,
      rgba(51, 237, 255, 1) 51%,
      rgba(255, 0, 128, 1) 53%,
      rgba(255, 0, 128, 1) 100%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .multicolortext {
    text-shadow: 1px 0px #33edff, 0px 1px #ff0080;
  }
}

.fadein {
  -webkit-animation: fadein 0.25s;
  -moz-animation: fadein 0.25s;
  -ms-animation: fadein 0.25s;
  -o-animation: fadein 0.25s;
  animation: fadein 0.25s;
}

@keyframes fadein {
  from {
    translate: 0px 10px;
    opacity: 0;
  }
  to {
    translate: 0px 0px;
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    translate: 0px 10px;
    opacity: 0;
  }
  to {
    translate: 0px 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    translate: 0px 10px;
    opacity: 0;
  }
  to {
    translate: 0px 0px;
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    translate: 0px 10px;
    opacity: 0;
  }
  to {
    translate: 0px 0px;
    opacity: 1;
  }
}