@import 'react-datepicker/dist/react-datepicker';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer components {
  .multicolortext0 {
    background: rgb(51, 237, 255);
    background: linear-gradient(
      45deg,
      rgba(51, 237, 255, 1) 0%,
      rgba(51, 237, 255, 1) 51%,
      rgba(255, 0, 128, 1) 53%,
      rgba(255, 0, 128, 1) 100%
    );
    /* background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .multicolortext {
    /* text-shadow: 0px 1px white, -1px -1px blue; */
    text-shadow: 1px 0px #33EDFF, 0px 1px #FF0080;
  }
}

/* .shadow1 {
  transition: box-shadow 0.1s ease-in-out;
}

.shadow1:hover {
  box-shadow: rgb(38, 57, 77) 2px 8px 20px -6px;
}

.shadow1:active {
  box-shadow: none;
} */
/* .inner-shadow1:hover {
  box-shadow:0 0 1px 1px #102447;
}

input.inner-shadow1:focus {
  box-shadow:0 0 1px 1px #102447;
} */
